.frase {
    font-size: 20px;
}

.campo-digitacao {
    font-size: 20px;
    height: 130px;
}

.campo-desativado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

.borda-vermelha {
    border: 3px solid red;
}

.borda-verde {
    border: 3px solid green;
}

.placar {
    display: none;
}

body{
    overflow: scroll;
}